<div class="product-card">
  <% if product.image_url.present? %>
    <img src="<%= product.image_url %>" alt="<%= product.name %>" class="product-image">
  <% else %>
    <div class="missing-image">Image Not Available</div>
  <% end %>
  <div class="product-details">
    <p class="product-brand"><%= product.brand %></p>
    <p class="product-title"><%= product.name %></p>
    <p class="product-price">₹<%= product.selling_price %> <del>₹<%= product.price %></del></p>
  </div>
</div>
